@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

h1 {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h4 {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

p {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal; 
    position: relative;
    margin-left: 500px;
}

.jokes h4 {
    border: solid 1px;
    margin: 20px;
    width: 700px;
}

body {
    background-color: rgb(0, 92, 149);
}

a {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal; 
    text-decoration: none;
    color: white;
    margin-left: 20px;
}