doctype html 
html 
    head 
        title Home 
        link(rel='stylesheet',type='text/css', href='/home.css')

    body 
        h1 Home 

        div.navigation
            a(href='/Add') Add a new joke 
            a(href='/joke') See the the Carambar jokes
